
.navigation-bar{
display: flex;
align-items: center;
justify-content: space-between;    
padding: 5px 20px 15px 20px;
    
}

.navigation-links{
    display: flex;
    justify-content: flex-end;

}

.nav-link{
    margin-left: 10px;
   
}

.logo{
    height: 100px;
    width: 200px;
}
